# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.name
description.html
encodings.xml
misc.xml
modules.xml
project-template.xml
uiDesigner.xml
workspace.xml